<div class="panel panel-default" id="newsletter">
    <div class="panel-heading" id="title">Newsletters</div>

    <table class="table">
        <th>Title</th>
        <th>Introduction</th>
        <th>Date</th>
        <tr ng-repeat="newsletter in newsletters">
            <td>{{ newsletter.title }}</td>
            <td>{{ newsletter.introduction }}</td>
            <td>{{ newsletter.created_at }}</td>
            <td><a ng-href="./#/newsletters/{{ newsletter.id }}">+ Details</a></td>
            <td><a class="btn" ng-click="removeNewsletter(newsletter.id);reloadPage()"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </table>

    <div class="buttonAdd">
        <a class="btn btn-info btn-lg" id="add_newsletter" ng-click="$state.go('newsletterAdd')"><span class="glyphicon glyphicon-plus"></span> Add Newsletter</a>
    </div>

</div>

<style>
    #newsletter{
        width:80%;
        align-content: center;
        margin-left: 50px;
        margin-top: 100px;
    }

    #title{
        font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 48px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #444;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-weight: 100;
    }

    .table{
        margin-top: 100px;
    }

    /*#add_newsletter{
        align-content: center;
        align-self: center;
    }*/

    .buttonAdd{
        text-align: center;
        margin-bottom: 30px;
    }
</style>